ul {
    position: relative;
    width: 100%;
    list-style-type: none;
}

li {
	float: left;
    width: 25%;
    background: red;
}

li:nth-child(even) {
	background: yellow;
}

li.active {
    background-color: blue !important;
}
