#list {
    position: relative;
    width: 100%;
    list-style-type: none;
}

div {
	float: left;
    width: 25%;
    height: 100px;
    background: red;
    cursor: pointer;
}

div:nth-child(even) {
	background: yellow;
}

div.active {
    background-color: blue !important;
}

.expandetElement {
    background-color: black;
    color: yellow;
}
